h3 {
  text-align: center;
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
}
tr {
  background-color: whitesmoke;
}
